:root {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: max(100vh, 640px);
  width: max(100vw, 640px);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: rgb(253, 223, 228);
  border: 2px solid black;
  border-radius: 5px;
  height: 420px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input {
  height: 24px;
  width: 180px;
}

.submit-button {
  height: 28px;
  width: 96px;
  border-radius: 4px;
  background-color:azure
}