:root {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: max(100vh, 640px);
  width: max(100vw, 640px);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: rgb(253, 223, 228);
  border: 2px solid black;
  border-radius: 5px;
  height: 700px;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 90px;

}

.form-header {
  padding-bottom: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input {
  outline: none;
  height: 32px;
  width: 240px;
  box-sizing: border-box;
  padding: 0px 4px;
  font-size: 1.1275rem;
  border-width: 1.5px;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  height: 3rem;
  font-size: 0.9rem
}

.submit-button {
  height: 36px;
  width: 120px;
  border-radius: 4px;
  background-color:azure;
  font-size: 1.1275rem;
}